.containerPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 15px; */
}

.contenedor {
    color: white;
    font-size: 4em;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueSpan {
    color: blue;
    padding: 4px;
}

.greenSpan {
    color: chartreuse;
    padding: 4px;
}

.cocacola-logo {
    width: 250px;
    height: auto;
}

.contenedorAplicacion {
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
